@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;700&display=swap');

.sidebar,
.header,
.container__content,
.bottom-panel {
  background: transparent;
}

body {
  color: #ffffffff;
  image-rendering: pixelated;
  font-family: "JetBrains Mono", monospace;
  letter-spacing: 1px;
}

#root {
  background: url(https://github.com/srasked2020/thmes--hydra-/blob/main/wallpaper%20tests/badfon-aska-lengli-soryu-anime.jpg?raw=true) #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#root > main > aside > div > div.sidebar__content > section:nth-child(1) > ul > li.sidebar__menu-item.sidebar__menu-item--active > button > svg,
#root > main > aside > div > div.sidebar__content > section:nth-child(1) > ul > li > button > svg {
  color: #FF9900;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  filter: drop-shadow(0 0 5px #FF9900);
  transition: all 0.3s ease;
}

#root > main > aside > div > div.sidebar__content > section:nth-child(1) > ul > li:hover > button > svg {
  color: #00FF00;
  filter: drop-shadow(0 0 10px #00FF00);
}



/* Segunda seção de menu. */
#root > main > aside > div > div.sidebar__content > section:nth-child(2) > ul {
  gap: 5px;
}

#root > main > aside > div > div.sidebar__content > section:nth-child(2) > ul > li {
  padding-left: 15px;
  margin: 5px 10px;
  background-color: rgba(77, 26, 26, 0.5);
  border-left: 3px solid #FF9900;
  border-radius: 0;
  transition: all 0.2s ease;
  
  box-shadow: inset 0 0 10px rgba(228, 51, 51, 0.2);
}

#root > main > aside > div > div.sidebar__content > section:nth-child(2) > ul > li:hover {
  border-left-color: #00FF00;
  padding-left: 20px;
  background-color: rgba(77, 26, 26, 0.8);
  box-shadow: inset 0 0 15px rgba(0, 255, 0, 0.3), 0 0 15px rgba(0, 255, 0, 0.4);
  transform: translateX(3px);
}

#root > main > aside > div > div.sidebar__content > section:nth-child(2) > ul > li:active {
  padding-left: 30px;
}

.text-field-container__text-field--dark,
.text-field-container__text-field--primary,
.header__search,
.game-item,
.settings__content,
.catalogue__filters-container,
.friends-box__box,
.user-stats__box,
.recent-games__box,
.sidebar {
  border-radius: 4px; 
  border: 1px solid #ffffff49;
  background-color: #08080860 !important;
  backdrop-filter: blur(3px);
  image-rendering: pixelated;
}



.game-details__container {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.game-details__description-container {
  display: flex;
  width: 100%;
  flex: 1;
  min-width: 0;
  background: linear-gradient(0deg, #12121255 50%, #0d0d0d7e 100%);
  padding: 10px;
  gap: 8px;
  border: 1px solid #ffffff25;
}

.game-details__description-content {
  flex: 1;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}


.container__content .button--outline {
  border: 1px solid #ffffff49;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: "Press Start 2P", monospace;
  padding: 6px 12px;
  border-radius: 3px;
  transition: 0.15s;
}

.container__content .button--outline:hover {
  background: #00ff0049;
  box-shadow: 0 0 6px #00FF00;
}

.settings-download-sources__item,
.download-group__item,
.game-item {
  border: 1px solid #ffffff49;
  background-color: rgba(0, 0, 0, 0.2) !important;
  image-rendering: pixelated;
}

* {
  image-rendering: pixelated;
  text-shadow: 0 0 2px #000;
}



