.sidebar,
.container__content,
.bottom-panel {
  background: transparent;
}

body {
  color: #f8f8f8ff;
}
.header{
   background: #0d0d0d46 ;
}
#root {
  background: url(https://r4.wallpaperflare.com/wallpaper/680/724/20/sfvi-street-fighter-vi-cammy-white-hd-wallpaper-8fe1b56f9781dfc6ced6f8295fdc7636.jpg)
    #000;
  background-position: cente;
  background-repeat: no-repeat;
  background-size: cover; 

}

.sidebar__menu-item {
  padding: 12px 20px;
  font-size: 15px;
  margin: 1px 12px;
}


.sidebar__menu-item i {
  margin-right: 12px;
}

.sidebar__menu-item:hover {
  background: rgba(96, 95, 95, 0.605); 
  transform: translateX(6px); 
}


.sidebar__menu-item:hover i {
  transform: scale(1.15);
}

.sidebar__menu-item:hover i {
  transform: scale(1.15);
}

.text-field-container__text-field--dark,
.text-field-container__text-field--primary,
.header__search,
.game-item,
.settings__content,
.catalogue__filters-container,
.friends-box__box,
.user-stats__box,
.recent-games__box,
.sidebar {
   border-radius: 14px; 
  border: 1px solid #c5c4c4da;
  background-color: #9c9c9c0a  !important;
 
}

.game-details__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.game-details__description-container {
  display: flex;
  width: 100%;
  flex: 1;
  min-width: 0;
  background: linear-gradient(0deg, #12121233 50%, #0d0d0d46 100%);
  padding: 12px;
  gap: 12px;
}
.game-details__description-content {
  width: 100%;
  min-height: 100%;
  min-width: 0;
  flex: 1;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}


.container__content .button--outline:hover {
  background: rgba(255, 255, 255, 0);
  color: #fff;
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.25);
}


.container__content .button--outline {
  border: 1px solid #ffffff49;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0);
}

.settings-download-sources__item,
.download-group__item,
.game-item {
   border: 1px solid #ffffff49;
  background-color: rgba(0, 0, 0, 0) !important;
}


